includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests
    phpVersion: 80400
    reportUnmatchedIgnoredErrors: true
    bootstrapFiles:
        - vendor/autoload.php
